* {
  width: 100%;
  background-color: rgb(237, 235, 235);

  
}

@media (min-width: 768px) {
  * {
    width: 750px;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.page_title {
  color: black;
  background-color: rgb(255, 43, 57);
  color: white;
  margin: 0px;
  border-radius: 7px;
}

.navBar {
  color: black;
  background-color: rgb(255, 43, 57);
}

.filterBar {
  color: black;
  background-color: rgb(255, 43, 57);
}

.single_article_page {
  background-color: white;
padding: 15px;
border-radius: 8px;

}

.full_article_card {
  background-color: rgb(234, 232, 232);

  margin:0px 0px 10px 0px;
  border-radius: 8px;
}

.articleCard_header{
  background-color: transparent;
  
}

.article_title {
  color: black;
background-color:transparent;
text-align: left;
padding: 2px 0px 0px 2px ;
margin: 0px;

}

.article_author{
  color: rgb(0, 0, 0);
background-color: transparent;
  text-align: left;
  margin: 2px 0px;
  padding: 2px 0px 2px 2px;
}

.article_topic {
  color: rgb(17, 16, 16);
  background-color: transparent;
  text-align: left;
  font-size: small;
  margin: 2px 0px;
  padding: 2px 0px 2px 2px;

}
.article_body {
  background-color: transparent;
  text-align: left;
  border-radius: 10px;
  padding: 5px
}

.article_image {
  background-color: white;
  border-radius: 8px;
  width: 93%;
}

.article_votes {
color:black;
background-color: transparent;
}

section {
  background-color: transparent;
}

.article_comments {
  color: black;
  background-color: transparent;
}

.comment_card {

align-content: center;
  background-color: rgb(227, 82, 82);
  border-radius: 5px;
  padding: 10px;
  margin: 0px 0px 5px 0px
}

.comment_body {
background-color:white;
padding: 5px;
border-radius: 8px;
text-align: left;

}

.comment_author{
  background-color: transparent;
padding: 10px 0px 0px 0px;
margin: 0px;
text-align: left;
}
.comment_date {
  background-color:transparent;
text-align: left;
}
.comment_votes {
  background-color: transparent;
  margin: 0px;
  text-align: left;
}
.comment_footer{
  background-color:transparent;
  padding: 0px;
}