* {
  width: 100%;
  background-color: rgb(237, 235, 235);
  color: black;
  
}

@media (min-width: 768px) {
  * {
    width: 750px;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



h1 {
  background-color: rgb(255, 43, 57);
  color: white;
  margin: 0px;
  border-radius: 7px;
}

.navBar {
  background-color: rgb(255, 43, 57);
}

.filterBar {
  background-color: rgb(255, 43, 57);
}

.articleCardBox {
  background-color: rgb(255, 255, 255);
  border-radius: 2%;
}